/* Reset simple */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #33058d;
  --purple: #8861ff;
  --green: #3ab800;
  --pink: #9b51e0;
  --orange: #f59e0b;
  --red: #ff0000;
  --lightBlue: #8aabff;
  --lightpurple: #9b51e04e;
  --lightGreen: #3ab8008e;
  --lightRed: #fca5a5;
  --bgNav: #13161d;
  --bg: #ffffff;
  --text: #000000c5;
  --mutedText: #7b8099;
  --border: rgba(255, 255, 255, 0.07);
  --borderHover: rgba(255, 255, 255, 0.14);
  --bgCard: #181c26e9;
}
::selection {
  background-color: var(--pink);
  color: var(--bg);
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text);
}
main {
  flex: 1;
}

li {
  list-style: none;
}
header {
  margin-bottom: 5.5rem;
}
section {
  padding: 0 2rem;
  margin-bottom: 2rem;
}
a {
  text-decoration: none;
  color: inherit;
}
/* bouttons */
.btn-cta {
  padding: 0.5rem 1rem;
  border: 1px solid var(--pink);
  border-radius: 40px;
  background-color: var(--lightpurple);
  color: var(--bg);
}
.btn-cta:hover {
  background-color: #9b51e071;
  border: 1px solid var(--pink);
  color: white;
}
.btn {
  padding: 0.5rem 1rem;
  border: 1px solid var(--pink);
  border-radius: 40px;
  color: var(--bg);
}
.btn:hover {
  background-color: var(--lightpurple);
  border: 1px solid var(--pink);
  color: white;
}

/* nav */
.navbar {
  position: fixed;
  background-color: var(--blue);
  width: 100%;
  padding: 20px 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  z-index: 1003;
}

.img-logo {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1003;
}

.menu-hamburger {
  width: 40px;
  cursor: pointer;
  position: relative;
  z-index: 1002;
}

.nav-links {
  display: flex;
  position: fixed;
  top: 15%;
  left: 15%;
  width: 70vw;
  height: 30vh;
  background: white;
  transform: translateX(150%);
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  align-items: center;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.nav-links.open {
  transform: translateX(0%);
  visibility: visible;
}

.navbar.open {
  overflow: visible;
}

.nav-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  color: var(--pink);
  font-size: 1.4rem;
  font-weight: bolder;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  z-index: 50;
  pointer-events: none;
}
.overlay.active {
  display: block;
  z-index: 0;
}
/* Bandeau de haut de page */
.upper-band {
  color: var(--bg);
  padding: 3rem;
  text-align: center;
  background:
    radial-gradient(
      ellipse 55% 90% at -5% 8%,
      rgb(79 20 194) 10%,
      transparent 70%
    ),
    radial-gradient(
      ellipse 33% 94% at 100% 100%,
      rgba(155, 81, 224, 0.5) 0%,
      transparent 60%
    );
  background-color: var(--blue);
}
#home {
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
.upper-band div {
  text-align: start;
}

/* connexion admin */
.log {
  margin: 3rem 2rem;
  border: 1px solid rgba(128, 128, 128, 0.336);
  border-radius: 20px;
  box-shadow: inset 1px 1px 6px grey;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.form div {
  display: flex;
  flex-direction: column;
}
.form .btn-cta {
  color: var(--pink);
}
.form input {
  border: 1px solid rgba(128, 128, 128, 0.336);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: inset 1px 1px 6px grey;
  width: 275px;
}
.error {
  color: var(--red);
}
/* footer */
footer {
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  color: var(--bg);
  padding: 2rem 4rem;
  background:
    radial-gradient(
      ellipse 40% 50% at 1% 10%,
      rgb(79 20 194) 10%,
      transparent 70%
    ),
    radial-gradient(
      ellipse 50% 66% at 100% 112%,
      rgba(155, 81, 224, 0.764) 0%,
      transparent 60%
    );
  background-color: var(--blue);
}
footer div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
footer div .link {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
footer div .link h3 ~ p,
footer div .link h3 ~ a,
footer div .link h3 ~ nav a {
  color: var(--mutedText);
}
footer div .link h3 ~ p:hover,
footer div .link h3 ~ a:hover,
footer div .link h3 ~ nav a:hover {
  color: var(--bg);
}
footer div .icons {
  display: flex;
  gap: 1rem;
}
footer div .link div {
  display: flex;
  flex-direction: row;
}
footer div .footer-link {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
}

@media (min-width: 768px) {
  /* nav */
  .img-logo {
    width: 100%;
  }

  .menu-hamburger {
    display: none;
  }
  .nav-links {
    visibility: visible;
    transform: none;
    position: static;
    align-items: end;
    background-color: rgba(255, 255, 255, 0);
    height: auto;
    background: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0);
  }
  .nav-links a {
    color: var(--bg);
  }

  .nav-links ul {
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
  }

  /* connexion admin */
  .log {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  /* footer */
  footer {
    background:
      radial-gradient(
        ellipse 20% 70% at 5% 90%,
        rgb(79 20 194) 10%,
        transparent 70%
      ),
      radial-gradient(
        ellipse 30% 150% at 100% 60%,
        rgba(155, 81, 224, 0.764) 0%,
        transparent 60%
      );
    background-color: var(--blue);
  }
  footer div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  footer div .link {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  footer div .link div {
    display: flex;
    flex-direction: row;
  }
  footer div .icons {
    display: flex;
    gap: 1rem;
  }
  footer div .icons a:hover {
    color: var(--pink);
  }
  footer div .footer-link {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    align-items: flex-start;
  }
}
